{% extends "layout.html" %}

{% block title %}
    Testing
{% endblock %}
	
{% block main %}
	<img class='resize' src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_Ya2NaKSdvN3NCQSnqFMIXqe3QWx2u18t7A&usqp=CAU' alt='loading error'>
	<br>
	<img class='resize' src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTeEFiFBXxQRx2FYz5IfRC_y2ZyQFRHxttFmQ&usqp=CAU' alt='loading error'>
	<br>
	<img class='resize' src='https://t3.ftcdn.net/jpg/03/55/29/82/240_F_355298290_nKY1OS2sXv2zTdl7CcOjos1J7VfGk5LO.jpg' alt='loading error' >
	
	<p class='green'>hello world</p>
	

{% endblock %}